body {
    font-family: "Open Sans", serif;
}
h1 {
    color: whitesmoke;
    background-color: red;
    font-family: "Nunito Sans", sans-serif;
}
p {
    color: white;
    background-color: blue;
}
li {
    color: blueviolet;
}
a {
    color: blueviolet;
}
q {
    color: bisque;
}